{% load static %}
<!doctype html>
<html lang="en">
      <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Курсовая</title>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
  <header>
    {% include 'mail_sending/includes/inc_menu.html' %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Рассылки</h1>
      <p class="fs-5 text-body-secondary">Сайт для отправки рассылок.</p>
    </div>
  </header>
  <main>
      {% block content %}
      {% endblock %}

  </main>
  </body>
</html>
