
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:index' %}">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:mail_sending_index' %}">Рассылки</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'client:client_index' %}">Клиенты</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'blog:blog_index' %}">Блог</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Профиль</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Выход</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Вход</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Регистрация</a>


    </nav>