
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:index' %}">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:mail_sending_index' %}">Рассылки</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:message_index' %}">Сообщения</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'client:client_index' %}">Клиенты</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'blog:blog_index' %}">Блог</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mail_sending:log_index' %}">Лог</a>
         {% if user.is_authenticated %}
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'users:profile' %}">Профиль</a>
             <form action="{% url 'users:logout' %}" method="post">
             {% csrf_token %}
             <button class="me-3 py-2 link-body-emphasis text-decoration-none" type="submit">Выйти</button>
         </form>
        {% else %}
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'users:login' %}">Вход</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'users:register' %}">Регистрация</a>
  {% endif %}

    </nav>